body {
	margin:10px;
	margin-right:30px;
	margin-bottom:40px;
	background-color:white;
}

.grid-container {
  display: grid;
  grid-template-columns:33% 33% 33%;
  grid-template-rows: 33.3% 33.3% 33.3%;
  min-height: 100vh;
  padding: 10px;
  grid-gap: 1rem;
}
.grid-item {
  padding: 20px;
  font-size: 10px;
  text-align: center;
}

.item1{
	background-image: url("images/7.jpg");
	background-image-width:50px;
	background-height:50px;
	grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: 100% 100%;
    background-position: 50% 50%;

}

.item2 {
	background-image: url("images/2.jpg");
	background-size: contain;
	background-size: 80% auto;
    background-position: 50% 90%;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
	background-image: url("images/1.jpg");
	background-size: contain;
    background-size: 100% auto;
    background-position: 50% 38%;
}


.item4{
	background-image: url("images/4.jpg");
	background-size: contain;
	background-size: 100% auto;
    background-position: 50% 38%;
}

.item5 {
	background-image: url("images/5.jpg");
	background-size: contain;
	background-size: 100% auto;
    background-position: 50% 50%;

}

.item6{
	background-image: url("images/6.jpg");
	background-size: contain;
	background-size: 70% auto;
    background-position: 50% 50%;
}

.item7{
	background-image: url("images/3.jpg");
	background-size: contain;
	background-size: 100% 100%;
    background-position: 50% 50%;
}

.item8{
	background-image: url("images/9.jpg");
	background-size: contain;
	background-size: 100% auto;
    background-position: 50% 50%;

}
